.form-group > input{
width:20em;
height: 2em;
}
.form-group{
	margin-top: 1em;
	right: 50px;
}
footer{

	background: #f01eab;
	font-family: Helvetica, sans-serif; font-size: 12px; line-height: auto;
	color: blue;
	position: relative;
    bottom: -20%;
    width: 100%;
    height: 10%;
    margin: 0;
}
	footer > div#footercontent{
		display: block;
		background: #f01eab;
		height: 100%;
	}