
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>CSS Dropdown Menu</title>

<!--<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">-->
<link href="static/libraryappmaincss.css" rel="stylesheet" type="text/css"/>
<link href="static/registercss.css" rel="stylesheet" type="text/css"/>


</head>
<body>
				<div id="loginlogout" class="toplogin">
					<p id="accessdate">This page was accessed on <script type="text/javascript">var d = new Date();
document.write(d)</script></p>
				<form action="" method="POST">
				Username: <input type="text" name="username">&nbsp; Password: <input type="text" name="password"> &nbsp;<input id="loginbutt" type="button" value="LOGIN">   &nbsp;<input id="logoutbutt" type="button" value="LOGOUT">
				</form>
			</div>
<nav>
	<ul>
		<li><a href="/index">Home</a>
				<ul>
						<li><a href="/aboutus#aboutthelibrary">About the Library</a></li>
						<li><a href="/aboutus#missionstatement">Mission Statement</a></li>
						<li><a href="/aboutus#visionstatement">Vision Statement</a></li>
					</ul>
		</li>
		<li><a href="/register">Register</a>
			<ul>
				<li><a href="/register">Signup Newuser</a></li>
				<!--<li><a href="#">Update existing User</a></li>-->
				
			</ul>
		</li>
		<li><a href="/libraryresources">Resources</a>
			<ul>
				<li><a href="/listbooks">Books</a></li>
				<li><a href="/listmagazines">Magazines</a></li>
				<li><a href="/listperiodicals">Periodicals and Journals</a></li>
				<li><a href="/listreports">Reports</a></li>
				<li><a href="/listmaps">Maps</a></li>
			</ul>
		</li>
		<li><a href="/findabook">Find a book</a>
			<ul>
				<li><a href="/searchforbook">Search by Subject</a></li>
				<li><a href="/searchforbook">Search by Section</a></li>
				<li><a href="/searchforbook">Search by Title</a></li>
				<li><a href="/searchforbook">Search by Author</a></li>
				<li><a href="/searchforbook">Search by Publication year</a></li>
			</ul>

		</li>
		<li><a href="/loanbook">Loan a book</a></li>
		<li><a href="/returnbook">Return a book</a></li>
		<li><a href="/addabook">Add Book to library</a></li>
	</ul>
</nav>
<div id="mainsection">

<!-- Main Body of Page Goes Here -->
	<h1>Register Library User</h1>

	
	<div id="registerformdiv">
		<form class="form-inline" action="/register" method="POST">
		    <div class="form-group">
		        <label>First Name</label> <br>
		        <input type="text" class="form-control" placeholder="First Name" name="firstname">
		        </div>
		    <div class="form-group">
		        <label>Last Name</label> <br>
		        <input type="text" class="form-control" placeholder="Last Name" name="lastname">
		    </div>
		    <div class="form-group">
		        <label>Department</label> <br>
		        <input type="text" class="form-control" placeholder="Department" name="department">
		    </div>
		    <div class="form-group">
		        <label>Student Number</label> <br>
		        <input type="text" class="form-control" placeholder="Student Number" name="studnum">
		    </div>
		        <div class="form-group">
		        <label>E-mail</label> <br>
		        <input type="text" class="form-control" placeholder="email" name="email">
		        </div>
		    <div class="form-group">
		        <label>Telephone</label> <br>
		        <input type="text" class="form-control" placeholder="telephone" name="telnum">
		    </div>
		    <div class="form-group">
		        <label>Address</label> <br>
		        <input type="text" class="form-control" placeholder="address" name="address">
		    </div>
		    <div class="form-group">
		        <label>Username</label> <br>
		        <input type="text" class="form-control" placeholder="Input a username" name="username">
		    </div>
		        <div class="form-group">
		        <label>Password</label> <br>
		        <input type="text" class="form-control" placeholder="password" name="password">
		    </div>

		    <div class="form-group"> <!--Submit Button -->
			    		<input type="submit" value="Create User" width="20px">
          	</div>

		</form>

			{% for messages in get_flashed_messages()%}
				<span class="success">{{ messages }} </span>
				{% endfor %}
				{% if error%}
			<p class="error"><strong>Erorr:</strong> {{ error }}</p>
			{% endif %}


		<p>Please fill all fields</p>

		
	</div>
</div>

<footer>
	<hr>
	<div id="footercontent">
	<p>&copy;&nbsp;Olutayo Durodola&nbsp;&nbsp;2015</p>
	<p>This site was designed as a requirement for the completion of Andela class XI bootcamp</p>

	<p><a href="">Administrator Sign In</a></p>
	</div>
</footer>

</body>
</html>
