
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>CSS Dropdown Menu</title>


<link href="static/libraryappmaincss.css" rel="stylesheet" type="text/css" />

</head>
<body>
				<div id="loginlogout" class="toplogin">
					<p id="accessdate">This page was accessed on <script type="text/javascript">var d = new Date();
document.write(d)</script></p>
				<form action="" >
				Username: <input type="text" name="username">&nbsp; Password: <input type="text" name="password"> &nbsp;<input id="loginbutt" type="button" value="LOGIN"> &nbsp;<input id="logoutbutt" type="button" value="LOGOUT"
				</form>
			</div>
<nav>
	<ul>
		<li><a href="#">Home</a>
				<ul>
						<li><a href="#">About the Library</a></li>
						<li><a href="#">Mission Statement</a></li>
						<li><a href="#">Vision Statement</a></li>
					</ul>
		</li>
		<li><a href="#">Register</a>
			<ul>
				<li><a href="#">Signup Newuser</a></li>
				<li><a href="#">Update existing User</a></li>
				
			</ul>
		</li>
		<li><a href="#">Resources</a>
			<ul>
				<li><a href="#">Books</a></li>
				<li><a href="#">Magazines</a></li>
				<li><a href="#">Periodicals and Journals</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Maps</a></li>
			</ul>
		</li>
		<li><a href="#">Find a book</a>
			<ul>
				<li><a href="#">Search by Subject</a></li>
				<li><a href="#">Search by Section</a></li>
				<li><a href="#">Search by Title</a></li>
				<li><a href="#">Search by Author</a></li>
				<li><a href="#">Search by Publication year</a></li>
			</ul>
		</li>
		<li><a href="#">Loan a book</a></li>
		<li><a href="#">Return a book</a></li>
		<li><a href="#">Add Book to library</a></li>
	</ul>
</nav>
<div id="mainsection">

<!-- Main Body of Page Goes Here -->
<h1> Welcome To Our Library</h1>
<h2>How to use the Library</h2>
<p>You need to register first to be captured in our system, after this you will be assigned a <strong>unique Library ID number </strong> which will be used for all interactions with the library. </p>
	<p>
		If you encounter a problem using this system please contact support at <email>support@library.com</email>.
	</p>

	<p>Thank you for using our system.</p>



</div>


<footer>
	<hr>
	<div id="footercontent">
	<p>&copy;&nbsp;Olutayo Durodola&nbsp;&nbsp;2015</p>
	<p>This site was designed as a requirement for the completion of Andela class XI bootcamp</p>

	<p><a href="">Administrator Sign In</a></p>
	</div>
</footer>


</body>
</html>